body{
    background-color: #0e3784eb;
    margin-top: 5%;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 0;
    width: 70%;
    height: 70%;
}

.izqtexto{
    width: 35%;
    height: 35%;
    border: 1px sandybrown solid;
    padding: 1%;
    text-justify: newspaper;
    font-size: small;
}
.formulario{
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 2%;
}

.button{
   margin-left: 10%;
    
}
.mansajes{
    height: 80px;
}