body{
    background-color: #0e3784eb;
}

.pagina1title{
    color: black;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 1%;
    font-weight:bolder;
    font-size: xx-large;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 0;
    width: 70%;
    height: 70%;
}
.pagina1texto{
    width: 45%;
    height: 45%;
    padding: 1%;
    text-justify: newspaper;
    font-size: x-large;
}
.pagina1foto{
    width: 100%;
    height: 100%;
    padding: 1%;
}